!!!
%html
    %body
        =yield
        %form(action="/" method="POST")
            %label(for="url")
            %input(type="text" name="url" id="myurl" autofocus size=100 accesskey="s")
            %input(name="opc_url" type="text")

            %input(type="submit" value="Shorten")

