.fondo
	.titulo.col-md-6.col-md-offset-3
		%h2 Inicie sesion
	.row
		.col-md-8.col-md-offset-2
			.intro-divider
			%a{:href=>'/auth/google_oauth2'}
				%img{:src => "/images/google.png", :width => "148", :height => "148"}